[Unit]
Description=Catalis Cloud HMI polling data storage volume mounting service
BindsTo=catalis-init@%i.service
Requires=dev-%i.device
After=dev-%i.device

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/catalis/global.conf
ExecStart=/bin/mount -t $CATALIS_FSTYPE -o flush /dev/%i $CATALIS_MOUNTPOINT
ExecStop=/bin/umount $CATALIS_MOUNTPOINT

[Install]
WantedBy=multi-user.target
