[Unit]
Description=Catalis Cloud HMI MODBUS polling service
BindsTo=catalis-chmi@%i.service
Requires=catalis-mount@%i.service
After=catalis-mount@%i.service

[Service]
Type=simple
EnvironmentFile=/etc/catalis/global.conf
ExecStart=/usr/sbin/catalis-poll %i

[Install]
WantedBy=multi-user.target
