[Unit]
Description=Catalis Cloud HMI poll data upload service
BindsTo=catalis-chmi@%i.service
Requires=catalis-dbinit@%i.service catalis-wireless@%i.service
After=catalis-dbinit@%i.service

[Service]
Type=simple
EnvironmentFile=/etc/catalis/global.conf
EnvironmentFile=/srv/CatalisDATA/config/csync.conf
ExecStart=/usr/sbin/catalis-csync %i

[Install]
WantedBy=multi-user.target
