[Unit]
Description=Catalis Cloud HMI main initialization service
BindsTo=catalis-chmi@%i.service
Before=catalis-chmi@%i.service
Requires=catalis-mount@%i.service
After=catalis-mount@%i.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/catalis/global.conf
ExecStart=/usr/sbin/catalis-init %i

[Install]
WantedBy=multi-user.target