[Unit]
Description=Catalis Cloud HMI init service
BindsTo=catalis-chmi@%i.service
Before=catalis-chmi@%i.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/catalis/global.conf
ExecStart=/usr/sbin/catalis-init %i $CATALIS_MOUNTPOINT
ExecStop=/usr/sbin/catalis-cleanup $CATALIS_MOUNTPOINT

[Install]
WantedBy=multi-user.target