[Unit]
Description=Catalis Cloud HMI status indicator service
BindsTo=catalis-chmi@%i.service

[Service]
Type=simple
ExecStart=/usr/sbin/catalis-led %i
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
