@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans&display=swap');

body { 
	font-size: 14px;
	max-width: 800px;
	padding: min(7vw, 5em);
	font-family: 'IBM Plex Sans', sans-serif;
}

img {
	max-width: 100%;
}

p {
	line-height: 1.3em;
}

code {
	font-size: 0.7rem;
	font-family: 'IBM Plex Mono', monospace;
}

pre {
	overflow: auto;
	max-width: 100%;
}